annotated-types==0.7.0
asn1crypto==1.5.1
Authlib==1.3.2
blinker==1.9.0
cbor2==5.6.5
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==44.0.1
Deprecated==1.2.15
dnspython==2.7.0
Flask==3.1.0
Flask-Limiter==3.8.0
Flask-PyMongo==2.3.0
flask-redis==0.4.0
Flask-WTF==1.2.2
Flask_Limit==2.0.5
gunicorn==23.0.0
idna==3.10
importlib_resources==6.4.5
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
keyring==25.5.0
limiter==0.5.0
limits==3.13.0
loginpass==0.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.5.0
msgpack==1.1.0
ordered-set==4.1.0
packaging==24.2
pillow==11.0.0
pyaltt2==0.0.117
pycparser==2.22
pydantic==2.10.1
pydantic_core==2.27.1
Pygments==2.18.0
pymongo==4.10.1
pyOpenSSL==24.2.1
pyotp==2.9.0
qrcode==8.0
redis==5.2.0
requests==2.32.3
rich==13.9.4
SQLAlchemy==2.0.36
StrEnum==0.4.15
token-bucket==0.3.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
webauthn==2.3.0
Werkzeug==3.1.3
wrapt==1.17.0
WTForms==3.2.1
